.navbar {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0 50px;
}

.imgContainer {
	position: relative;
	width: 36px;
	height: 36px;
	opacity: 0.9;
	filter: grayscale(100%);
}

.navbar div {
	display: flex;
	gap: 20px;
	align-items: center;
}

.navbar span {
	display: flex;
	gap: 20px;
	align-items: center;
}

.navbar img {
	cursor: pointer;
}

.navbar button {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: var(--highlight);
	color: var(--text);
	font-weight: 600;
	text-transform: uppercase;
}

@media screen and (max-width: 600px) {
	.navbar {
		flex-direction: column;
		padding: 10px;
	}

	.navbar div {
		flex-direction: column;
		gap: 0;
	}

	.navbar div:nth-child(2) {
		flex-direction: column;
		gap: 15px;
	}

	.navbar span {
		gap: 10px;
	}
}
