.gridContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	padding: 0 50px 50px;
}

.listContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.listItem {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid var(--border);
	border-radius: 5px;
	background-color: var(--light);
	color: #858796;
}

.listItemNav {
	border: none;
	background-color: var(--highlight);
	color: var(--text);
	font-weight: 700;
	text-align: left;
}

.imgContainer {
	position: relative;
	width: 20px;
	height: 20px;
}

.imgContainer img {
	background-color: rgb(128 128 128 / 6.3%);
}

.listItemLarge {
	display: flex;
	gap: 10px;
	align-items: center;
	width: 100%;
	height: 100%;
}

.listItemSmall {
	display: flex;
	align-items: center;
	width: 100px;
	height: 100%;
}

.listItem :first-child {
	justify-content: center;
}

.btnContainer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.btnContainer a {
	display: flex;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: var(--highlight);
	color: var(--text);
	font-weight: 700;
	cursor: pointer;
}

.loading {
	display: flex;
	width: 100%;
	height: 30%;
	border-radius: 20px;
	background-color: rgb(128 128 128 / 6.3%);
}

@media screen and (max-width: 1200px) {
	.gridContainer {
		grid-template-columns: repeat(2, 1fr);
		padding: 10px;
	}
}

@media screen and (max-width: 800px) {
	.gridContainer {
		grid-template-columns: repeat(1, 1fr);
	}
}
